[worldserver]

###################################################################################################
# CHAT FILTER MODULE
#
#    ChatFilter.Enable
#        Description: Enables or disables the Chat Filter module.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

ChatFilter.Enable = 1

#    ChatFilter.Log.Enable
#        Description: Enables logging of filtered chat messages.
#                     Logs are saved in 'logs/chatfilter/YYYY-MM-DD.log'.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

ChatFilter.Log.Enable = 1

#    ChatFilter.Mute.Enable
#        Description: Enables muting players for a duration after using a bad word.
#        Default:     1 - (Enabled)
#                     0 - (Disabled)

ChatFilter.Mute.Enable = 1

#    ChatFilter.Sender.SeeMessage
#        Description: Allows the sender to see their own filtered message.
#                     The message will still be blocked for all other players.
#        Default:     0 - (Disabled, sender does not see the message)
#                     1 - (Enabled, sender sees their own message)
#
#        Note: Enabling this feature is more complex and may not be supported initially.
#              For now, it is recommended to keep it disabled.

ChatFilter.Sender.SeeMessage = 0


#    ChatFilter.Database_Refresh.Time
#        Description: 데이터베이스에 접속해 필터링 단어를 새로 수집하는 시간 간격(초)
#                     
#        Default:     60 (1분)

ChatFilter.Database_Refresh.Time = 60

###################################################################################################
